<h3>Create Customer</h3>
	<div  [hidden]="!submitted">
   		<div class="alert alert-warning">
  			<strong>Warning!</strong>All fields are required and the Account Balance field greater 0.00, retype and submit again.
		</div>
	</div>
<div style="width: 400px;">

    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">First Name</label>
            <input type="text" class="form-control" id="firstName" required [(ngModel)]="customer.firstName" name="firstName">

        </div>

        <div class="form-group">
            <label for="name">Last Name</label>
            <input type="text" class="form-control" id="lastName" required [(ngModel)]="customer.lastName" name="lastName">

        </div>

        <div class="form-group">
            <label for="name">email</label>
            <input type="email" class="form-control" id="email" required [(ngModel)]="customer.email" name="email">
        </div>

        <div class="form-group">
            <label for="name">password</label>
            <input type="password" class="form-control" id="password" required [(ngModel)]="customer.password" name="password">
        </div>

        <div class="form-group">
            <label for="name">Account Balance</label>
            <input type="number" class="form-control" id="accountBalance" required [(ngModel)]="customer.accountBalance" name="accountBalance">
        </div>

        <button  type="submit" class="btn btn-success pull-left" >Submit</button>
	<button (click)="gotoList()" class="btn btn-primary" style="margin-left: 10px">Back to Customers List</button>
    </form>

</div>

